@import '../../../theme.scss';

.dropdown-container{
    @include body1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
    color: $app-dark;
    align-items: flex-end;
}

.currency-dropdown-selector{
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 8px;

  }

.option{
    margin: 8px;
    margin-right: 32px;
    &:hover{
        color: $app-primary;
    }
}

.dropdown-menu{
    display: flex;
    position: absolute;
    max-height: 50vh;
    top: 64px;
    overflow-y: scroll;
    background-color: $app-white;
    flex-direction: column;
    box-shadow: $card-shadow;
}

.price-text{
    @include headline6;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display:flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.item-counter{
    @include caption;
    display: flex;
    position: relative;
    top: -0.5rem;
    right: -0.5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: black;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    color: white;

}