@import '../../../View/theme.scss';

.checkout-page{
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    .title{
        @include headline4;
        margin-bottom:2rem;
    }
}

