@import '../../../View/theme.scss';

.image{
    margin: 16px;
    height: 80px;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 8px;
    &:hover{
        opacity: 0.6;
    }
}

.category{
    display: flex;
    flex-direction: row;
}

.selectable{
    @include body1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    margin-left: 0px;
    height: 45px;
    width: 63px;
    border: 1px solid $app-dark;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }

}

.gallery{
    display: flex;
    flex: 1;
    flex-direction: column;
    @media screen and (max-width:500px) {
        flex-direction: row;
      }
}

.left{
    display: flex;
    flex: 1;
    @media screen and (max-width:500px) {
        flex-direction: column;
      }
}

.right{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 5vw;
    text-align: start;
}

.details-Page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    margin: 5vw;
}

.title{
    @include headline5;
    margin-bottom: 8px;
   }

.sub-Title{
    @include headline4;
    margin-bottom: 16px;
}

.headline{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.selected-Image{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    .image{
        display: flex;
        flex-direction: column;
        flex: 1;
        object-fit: contain;
        height: 50vh;
        cursor:auto;
        &:hover{
       box-shadow:  none;
        }
        &:hover{
            opacity: 1  ;
        }

    }

}

.add-to-cart{
    background-color: $app-primary;
    @include button;
    margin-bottom: 16px;
    color: white;
    height: 56px;
    width: 50%;
    border: none;
    cursor: pointer;
    &:hover{
        opacity: 0.9;
    }
}