@import '../../../../View/theme.scss';

.items{
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    flex-direction: row;
}

.item{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px;
    padding: 16px;
    width: 384px;
    height: 440px;
    background-color: $app-white;
    &:hover{
        box-shadow: $card-shadow
    }

}

.item-image-container{
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
    max-height: 80%;
    .out-of-stock{
        @include headline5;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 50%;
        width: 100%;
    }
    .overlay{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $app-white;
        opacity: 0.8;
    }
}

.item-image{
    display: flex;
    object-fit: contain;
    width: 100%;
    object-position: 50% 0%;
}

.item-image-overlay{
    background-color: $app-white;
    opacity: 0.2;
}
.item-name{
    @include body1;
    margin-top: 16px;
}

.item-price{
    @include headline6
}



.item-out-of-stock{
    display: flex;
    flex-direction: column;
}

.shop-cart{
    position: absolute;
    top: 70%;
    right: 32px;

}